{{base_path}}/{{service_name}}-nginx/logs/*.log {
su root root
daily
rotate {{nginx_logrotate_keep_days}}
missingok
notifempty
sharedscripts
postrotate
    if [ -f {{base_path}}/{{service_name}}-nginx/logs/nginx.pid ]; then
        docker exec -ti {{service_name}}-nginx kill -USR1 `cat {{base_path}}/{{service_name}}-nginx/logs/nginx.pid`
    fi
endscript
}