{
  "ipfs": {
    "gateway_url": "{{ipfs.blockmed_gateway_url}}"
  },
  "ethereum": {
    "contract": {
      "address": "{{ethereum.reward_contract.address}}"
    },
    "websocket_provider": "{{ethereum.websocket_provider}}"
  }
}